# Application
APP__ENV=staging
APP__APP__NAME=mesh_service
APP__APP__ENVIRONMENT=staging

# Client integrations
APP__CLIENT_INTEGRATIONS__ALLOW_LOGGING_MIDDLEWARE=true
APP__CLIENT_INTEGRATIONS__ALLOW_REQUEST_TIMEOUT_MIDDLEWARE=true

# Server
APP__SERVER__HOST=0.0.0.0
APP__SERVER__PORT=3080
APP__SERVER__REQUEST_TIMEOUT_SECS=60

# Registry
APP__REGISTRY__HEARTBEAT_INTERVAL_SECS=5
APP__REGISTRY__SERVICE_TTL_SECS=15
